{% extends "layout.html" %}
{% block title %}Chatti{% endblock %}
{% block content %}
<div class="content">
 <h2>Chatti</h2>
  <br>
  {% for message in chats %}
  {% if message[1] == session.user_id %}
  <div class="chat2"> 
   {{ message[0] }}
  </div>
  {% else %}
  <div class="chat">
   {{ message[0] }}
  </div>
  {% endif %}
  <br>
 {% endfor %}
 <form action="/chat/{{ id }}" method="POST">
 <textarea class="textarea" name="content"rows="3" cols="40" minlenght="1" required></textarea>
 <input type="submit" value="Lähetä">
 <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
 </form>
 <a href="/contacts">Takaisin</a><br>
 {% endblock %}
</div>
