<!doctype html>
<link rel="stylesheet" href="/static/main.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Keskustelusovellus - {% block title %}{% endblock %}</title>

<body id="firstPage">
 <div class="header">
   <h1> Tervetuloa! </h1>
 </div>

 {% if not  session.username %}
 <a href="/login" style="color: white;">Kirjaudu</a>|
 <a href="/signin" style="color: white;">Luo tunnus</a>
 {% else %} 
 <a href="/logout" style="float: right; color: white;">Kirjaudu ulos</a><br>


 <nav>
  <ul>
   <li><a href="/topics">Keskustelut</a></li>
   <li><a href="/questions">Kyselyt</a></li>
   <li><a href="/contacts">Viestit</a></li>
  </ul>
 <nav>

 {% endif %}
 {% block content %}{% endblock %}

