<form action="/question/{{ id }}" method="POST">
{{ question[0] }}
<br>
{% if not answered %}
{% for choice in choices %}
<input type="radio" name="choice" value="{{ choice[0] }}">  {{ choice[1] }}
<br>
{% endfor %}
<input type="submit" value="Vastaa">
<br>
{% else %}
{% for answer in answers %}
{{ answer[0] }}  {{ answer[1] }}
<br>
{% endfor %}
{% endif %}
<a href="/questions">Takaisin</a>
{% if question[1] == session.user_id %}
</form>
<br>
<form action="/delete_question/{{ id }}" method="GET">
<input type="submit" value="Poista">
</form>
{% endif %}
