{% extends "layout.html" %}
{% block title %} Keskustelut{% endblock %}
{% block content %}
<div class="content">
 <h2>Keskustelut</h2>
 <br>

  <div class="button" style="float: right;">
   <a href="/new">Aloita uusi</a>
  </div>

    <form action="/topics" method="POST">
    <input class="text" type="text" name="search" placeholder="Hae viestejä">
    <input type="submit" value="Hae"><br>  
    </form>

  {% for topic in topics %}
  {% if topic[3] == session.user_id %}
  <div class="topic">
    {{ topic[1] }}   
  </div>
  <div class="list">
   {{ topic[2] }} <a href="/message/{{ topic[0] }}">Vastaa/Poista</a>    Vastauksia:{{ replies[(topic[0])-1][0] }}
  </div>  
  {% else %}
  <div class="topic">
   {{ topic[1] }}
  </div>
  <div class="list"> 
   {{ topic[2] }} <a href="/message/{{ topic[0] }}">Vastaa</a>    Vastauksia:{{ replies[(topic[0])-1][0] }}
  </div> 
 {% endif %}
 {% endfor %}<br>
 {% endblock %}
</div>
